.container>footer{
  background-color: white;
  height: 100px;
  margin-top: 900px;
  margin-left: -590px;
  width:100vw;
  position: absolute;
}

.iconContainer{

  display: flex;
  padding: 20px;

}
.iconContainer{
  justify-content: center;
  margin-left: -100px;

}

.iconContainer>div{
  padding-left: 40px;
}

.iconIns{
  justify-content: center;
  margin-left: 10px;
}
