.header{
  position: fixed;
  top:0;
  margin-left: -300px;
  width:2000px;
  height:100px;
  background-color:#081c24;
  color:#FFFFFF;
  padding:10px;

}

.iconsHeader{
  justify-content: flex-start;
}

.logoTheMovieDb{
  margin-left: 200px;
}

.logoTheMovieDb>img{
  height: 80px;
}

.lowerE{
  background: white;
  padding: 10px;
  display: flex;


}
.lowerE>div{
  padding-left: 40px;
}



.mGlass>img{
  margin-left: 200px;
}

.inputNotBorder{
  border: 0;
  background-color: #fff;
  font-size: 20px;
  font-style: oblique;
  width: 300px;
}
