@import url('https://fonts.googleapis.com/css?family=Nunito');

.footerPoster{
  background-color: white;
}

body{
  background-color: #1E1D1D;
  width: 230px;
  padding-top: 30px;



}

.body>poster{
  justify-content: center;
}

.poster{
  margin-left: 15px;
  margin-top: 15px;
}

.container{
  display: grid;
  flex-wrap: nowrap;
   grid-template-columns: 215px 215px 215px 215px 215px;
   padding: 30px;
   margin-left: 90px;
   margin-top: 50px;
   z-index: 1;
}

.row{
  display: flex;
  flex-wrap: nowrap;
}

.buttonDetail{
  background-color: #FAB005;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  float: right;

}

.title{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.preview{
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: #FAB005;
}

.rating{
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  color: #212529;
  display: flex;
  flex-wrap: nowrap;
}

.wallpaper>img{
  width:200px;
  height: 250px;
}
.thirdR{
  margin-left: 50px;
  right:0;
}

.logoHeader{
  margin-top: -50px;
}

.logoRequire{
  margin-left: 450px;
}

.pages{
  
  position: absolute;
		/*nos posicionamos en el centro del navegador*/
		
		left:50%;
		/*determinamos una anchura*/
		width:400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-200px;
		/*determinamos una altura*/
		height:100px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		
		/*border:1px solid #808080;*/
		padding:5px;
}

.pageNumbers{
  margin-right: 0.3em;
  color: white;
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: flex;
  padding:20px;
  justify-content: center;
}

.pageNumbers{
  padding-left: 12px;
}

.iconPage{
  border: 1px solid #808080;
  padding: 20px;
  border-radius: 100px;
  
  text-align: center;
  width: 70px;
  }
  .iconPage:active ~.iconPage{
    background-color: red;
  }