@import url('https://fonts.googleapis.com/css?family=Nunito');

.footerPoster{
  background-color: white;
}

body{
  background-color: #DCDCDC;
  width: 230px;
  padding-top: 30px;



}

.body>poster{
  justify-content: center;
}

.poster{
  margin-left: 15px;
  margin-top: 15px;
}

.container{
  display: grid;
  flex-wrap: nowrap;
   grid-template-columns: 215px 215px 215px;
   padding: 30px;
   margin-left: 150px;
   margin-top: 50px;
}

.row{
  display: flex;
  flex-wrap: nowrap;
}

.buttonDetail{
  background-color: #FAB005;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  float: right;

}

.title{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.preview{
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: #FAB005;
}

.rating{
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  color: #212529;
  display: flex;
  flex-wrap: nowrap;
}

.wallpaper>img{
  width:200px;
  height: 250px;
}
.thirdR{
  margin-left: 50px;
}

.logoHeader{
  margin-top: -50px;
}

.logoRequire{
  margin-left: 450px;
}
