@import url('./home.css');

.popupContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(192, 192, 192, 0.075);
  height: 900px;
  width: 2000px;
}

.popup{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: gray;
}

.bClose{
  float: right;
}

