@import url('./home.css');

.popupContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(192, 192, 192, 0.075);
  height: 900px;
  width: 2000px;
}

.popup{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #EDE5E5;
}

.bClose{
  float: right;
}

.fullImage {
  display: flex;
  z-index: -1;
}

.fullDescription{
  padding: 20px;
  margin-top: 220px;
  text-align: justify;
  font-family: GothamRounded;
  font-size: 16px;
}

.bigContainer{
  background-color: white;
  height: 180px;
  width: 600px;
  margin-top: 20px;
  margin-left: 210px;
  position: absolute;
}

@font-face {
  font-family: GothamMedium;
  src: url(../../../Font/GothamRounded-Medium.ttf);
}
@font-face {
  font-family: GothamRounded;
  src: url(../../../Font/GothamRounded-Book.ttf);
}
@font-face {
  font-family: GothamRounded;
  src: url(../../../Font/GothamRounded-Book.ttf);
}

.titleDiv{
  color: #212525;
  font-size: 23px;
  font-family: GothamMedium;
  padding: 5px;
  margin-left: 10px;
  border-bottom: black 1px solid;
  
}
.previewDiv{
  font-family: GothamRounded;
  font-size: 14px;
  color:#F59F00;
  margin-left: 20px;
  display: flex;
  padding: 3px;
  
}
.idiomDiv{
  font-family: GothamMedium;
  font-size: 14px;
  color: #212529;
  background: #A9A9A9;
  margin-left: 315px;
  padding: 10px;
}

.iconsDiv{
  padding: 8px;
  display: flex;
}

.heart{
  display: flex;
}
.heart>div{
  padding-left: 4px;
}
.star{
  display: flex;
}
.hand{
  display: flex;
}
.heartSon{
  
}
.nameIcon{
  margin-top: -7px;
}

.nameIcon{
  color:#D7CFCF;
  font-size: 16px;
  margin-left: -20px;
  padding-top: 5px;
}
.nameIconP{
  color:#D7CFCF;
  font-size: 16px;
  margin-left: -25px;
  
}
.nameIconH{
  color:#D7CFCF;
  font-size: 16px;
  margin-left: -25px;
}
.iconsDiv>div{
  padding-left: 40px;
}

.premiere{
  background-color: #21462F;
  height: 50px;
  width: 180px;
  position: absolute;
  right:0;
  bottom:0;
  font-family: GothamMedium;
  font-size: 18px;
  color:#FFFF;
  padding: 10px;
  display: flex;
}

.premiere>div{
  padding-left: 10px;
}

.calendarIcon{
  left: 0;
}